<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <!-- GENERAL -->
    <add key="license" value="FFB2C77C-723B-B21F-2EF9-BD90A531A7DE" />
    <!-- DB -->
    <add key="host" value="localhost" />
    <add key="database" value="elitegst" />
    <add key="user" value="root" />
    <add key="password" value="root" />
    <!-- PRINT SETTINGS -->
    <add key="include_purchase_order" value="false" />
    <add key="packs_required" value="false" />
    <add key="fabric_invoice_required" value="false" />
    <add key="mysql_dump_path" value="C:\MySQL\bin\mysqldump.exe" />
    <add key="mysql_path" value="C:\MySQL\bin\mysql.exe" />
    <add key="invoice_a4" value="invoice.htm" />
    <add key="invoice_a5" value="invoice-a5.htm" />
    <add key="a5_invoice" value="true" />
    <add key="invoice_pack" value="invoice-pack.htm" />
    <add key="fabric_invoice" value="fabric-invoice.htm" />
    <add key="purchase_order" value="purchase-order.htm" />
  </appSettings>
</configuration>